<!DOCTYPE html>
<html>
<head>
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>

  <h1 class="titulo floating">Bienvenido a mixy</h1>

  <div class="inicio_sesion floating-4">
    <label for="correo">Ingresa tu correo electrónico</label><!--esta etiqueta crea el ingreso del correro electronico-->
    <input type="email" id="correo" placeholder="correo@ejemplo.com"><!--Etiqueta en bloque del correo electronico-->

    <label for="clave">Ingrese contraseña</label> <!-- Etiqueta que muestra el texto para que el usuario ingrese su contraseña -->
    <input type="password1" id="clave" placeholder="contraseña"><!-- Campo de entrada donde el usuario escribe su contraseña , oculta los caracteres -->

    <button class="iniciar">Iniciar Sesión</button><!-- Botón que permite al usuario iniciar sesión -->
    <button class="registrarse"><a href="registro.html">Registrarse</a></button> <!--Boton que permite al usuario registrarse-->

</body>
</html>
